In [1]:
import os
os.getcwd()

'C:\\Users\\balak\\1-project(teja sir)'

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [4]:
crop=pd.read_csv(r'D:\loki\Crop_recommendation.csv')

In [5]:
crop

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [6]:
crop.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [28]:
crop.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [39]:
crop['label'].value_counts()

rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: label, dtype: int64

In [41]:
x=crop.iloc[:,0:7]
x

        N   P   K  temperature   humidity        ph    rainfall
0      90  42  43    20.879744  82.002744  6.502985  202.935536
1      85  58  41    21.770462  80.319644  7.038096  226.655537
2      60  55  44    23.004459  82.320763  7.840207  263.964248
3      74  35  40    26.491096  80.158363  6.980401  242.864034
4      78  42  42    20.130175  81.604873  7.628473  262.717340
...   ...  ..  ..          ...        ...       ...         ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507
2196   99  15  27    27.417112  56.636362  6.086922  127.924610
2197  118  33  30    24.131797  67.225123  6.362608  173.322839
2198  117  32  34    26.272418  52.127394  6.758793  127.175293
2199  104  18  30    23.603016  60.396475  6.779833  140.937041

[2200 rows x 7 columns]

In [43]:
y=crop.label
y.head(4)

0    rice
1    rice
2    rice
3    rice
Name: label, dtype: object

In [50]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [51]:
x_train.shape

(1760, 7)

In [52]:
x_test.shape

(440, 7)

In [53]:
y_train.shape

(1760,)

In [54]:
y_test.shape

(440,)

In [56]:
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier(criterion='entropy')

In [57]:
data=classifier.fit(x_train,y_train)

In [58]:
y_pred=classifier.predict(x_test)

In [59]:
from sklearn.metrics import confusion_matrix

In [60]:
matrix=confusion_matrix(y_pred,y_test)

In [62]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)

In [63]:
score

0.9977272727272727

In [67]:
from sklearn.model_selection import StratifiedKFold
fold=StratifiedKFold(n_splits=10,shuffle=True,random_state=None)

In [68]:
from sklearn.model_selection import cross_val_score
score2=cross_val_score(classifier,x,y,cv=fold)

In [70]:
score2

array([1.        , 0.99090909, 0.99545455, 0.99090909, 0.99545455,
       0.99545455, 0.99090909, 0.99545455, 0.99545455, 1.        ])

In [76]:
score2_mean=score2.mean()
score2_mean

0.9950000000000001

In [74]:
score2_std=score2.std()

In [75]:
score2_std

0.0031818181818181637

<h2 style='color:green'><center>real time prediction</center></h2>

In [78]:
import joblib
import pickle

In [79]:
joblib.dump(classifier,'classifier.pkl')

['classifier.pkl']

In [80]:
final=x.head(1)

In [81]:
final

    N   P   K  temperature   humidity        ph    rainfall
0  90  42  43    20.879744  82.002744  6.502985  202.935536

In [82]:
finaltest=joblib.load('classifier.pkl')

In [83]:
finaltest

RandomForestClassifier(criterion='entropy')

In [84]:
result=finaltest.predict(final)

In [85]:
result

array(['rice'], dtype=object)

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall'], dtype='object')

In [1]:
pwd

'C:\\Users\\balak\\1-project(teja sir)'

In [1]:
pwd

'C:\\Users\\balak\\1-project(teja sir)'